<app-client-form [client]="client" (saveEvent)="onSaveEvent($event)" (cleanEvent)="onCleanEvent()"></app-client-form>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
      <td>
        <button class="btn btn-primary me-2" (click)="edit(client)">Editar</button>
        <button class="btn btn-danger" (click)="delete(client)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
