<div class="row">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupClient">
      <div class="mb-3">
        <div class="display-6 text-center">
          Cadastro de Clientes
        </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nome:</label>
        <input type="text" formControlName="name" class="form-control" id="name" placeholder="Seu nome">
        <div *ngIf="submitted && name.invalid">
          <small class="text-danger">Nome inválido!</small>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Seu email">
        <div *ngIf="submitted && email.invalid">
          <small class="text-danger">Email inválido!</small>
        </div>
      </div>
      <span class="mb-3 d-flex justify-content-end align-items-start gap-2">
        <button class="btn btn-success" (click)="save()">Salvar</button>
        <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
      </span>
    </form>
  </div>
</div>
