<div class="row">
  <div class="col-8 m-auto">
    <div class="mb-3">
      <div class="display-6 text-center">
        Cadastro de Clientes
      </div>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="name" placeholder="Seu nome">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Seu email">
    </div>
  </div>
</div>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients">
      <th scope="row">{{client.id}}</th>
      <td>{{client.name}}</td>
      <td>{{client.email}}</td>
    </tr>
  </tbody>
</table>
